<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2>タスク一覧</h2>
    </div>
    <div class="create-task col-xs-4">
      <%= link_to new_task_path,class: "btn btn-primary btn-block", data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus"></i>タスクを作成
      <% end %>
    </div>
  </div>
  <div class="main_group row">
    <div class="text-center create-task-responsive col-xs-12">
      <%= link_to new_task_path, class: "btn btn-primary btn-lg btn-block", data: {"turbolinks"=>false} do %>
          <i class="fas fa-plus"></i>タスクを作成
      <% end %>
    </div>
    <div class="task-group col-xs-12">
      <% @active_tasks.each do |task| %>
        <div class="col-sm-4">
          <div class="task d<%= task.rating %> text-center">
            <div class="main_task"><%= task.task_ja %><br></div>
            <%= link_to edit_task_path(task.id), data: {"turbolinks"=>false} do %>
              <i class="main_task fas fa-edit"></i>
            <% end %>
            <%= task.created_at.strftime('%Y/%m/%d %H:%M') %>
            <%= link_to change_task_path(task.id), method: :patch  do %>
              <i class="main_task fas fa-check-circle"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div><br>
  </div>

  <%= month_calendar events: @active_tasks do |date, active_tasks| %>
  <%= date.day %>

  <% active_tasks.each do |active_task| %>
    <div>
      <%= active_task.title %>
    </div>
  <% end %>
  <% end %>