<h1>新規タスク</h1>
<%= form_with(model: @task) do |f| %>
  <div><%= f.label :タイトル %></div>
  <div><%= f.text_field :title %></div>

  <div><%= f.label :日付 %></div>
  <div><%= f.datetime_field :start_time %></div>

  <div><%= f.label :content %></div>
  <div><%= f.text_field :task_ja %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>